@page "/Account/Login"
@layout EmptyLayout
@attribute [ExcludeFromInteractiveRouting]
<h3>Login</h3>

<EditForm FormName="login" method="post" Model="Input" OnValidSubmit="LoginAsync">

    <InputText @bind-Value="Input.Username"  />
    <InputText @bind-Value="Input.Password"  />

    <button type="submit">Login</button>
</EditForm>

@code {
    [SupplyParameterFromForm] public LoginModel Input { get; set; } = new();

    private async Task LoginAsync()
    {
        
    }

    public class LoginModel
    {
        public string Username { get; set; } = string.Empty;
        public string Password { get; set; } = string.Empty;
        public bool RememberMe { get; set; }
    }
}
