@inherits LayoutComponentBase
@layout BlazorERP.Components.Layout.MainLayout

<h1>Manage your account</h1>

<div class="manage">
    <h2>Change your account settings</h2>
    <hr />
    <FluentGrid>
        <FluentGridItem sm="3">
            <FluentNavMenu Collapse="false">
                <FluentNavLink Href="Account/Manage" Match="NavLinkMatch.All">Profile</FluentNavLink>
                <FluentNavLink Href="Account/Manage/ChangePassword">Password</FluentNavLink>
                <FluentNavLink Href="Account/Manage/TwoFactorAuthentication">Two-factor authentication</FluentNavLink>
            </FluentNavMenu>
        </FluentGridItem>

        <FluentGridItem sm="9">
            @Body
        </FluentGridItem>
    </FluentGrid>
</div>
