@page "/Account/Login"
@layout EmptyLayout
@inject IHttpContextAccessor contextAccessor
@inject NavigationManager navigationManager
@inject UserService userService
@inject IConfiguration config
@using Microsoft.AspNetCore.Authentication
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Identity

<h3>Login</h3>

<EditForm FormName="login" method="post" Model="Input" OnValidSubmit="LoginAsync">
    <div>
        <label>Username</label>
        <InputText @bind-Value="Input.Username" />
    </div>
    <div>
        <label>Password</label>
        <InputText @bind-Value="Input.Password" type="password" />
    </div>

    <button type="submit">Login</button>

</EditForm>

@code {
    [SupplyParameterFromForm] public LoginModel Input { get; set; } = new();

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private async Task LoginAsync()
    {
        using IDbController dbController = new FbController(config.GetConnectionString("Default"));


        User? user = await userService.GetByUsernameAsync(Input.Username, dbController);

        if (user is not null)
        {
            PasswordHasher<User> hasher = new();

            string passwordHashed = hasher.HashPassword(user, Input.Password + user.Salt);

            PasswordVerificationResult result = hasher.VerifyHashedPassword(user, user.Password, Input.Password + user.Salt);
            // We handle login whenever we have a user object. So when it fails we need to set it to null
            if (result is PasswordVerificationResult.Failed)
            {
                user = null;
            }
        }

        // TODO: Try LDAP login

        if (user is not null)
        {
            var claims = new List<Claim>
            {
                new("userId", user.UserId.ToString()),

            };

            var claimsIdentity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
            var authProperties = new AuthenticationProperties
                {
                    IsPersistent = Input.RememberMe
                };


            await contextAccessor.HttpContext.SignInAsync(CookieAuthenticationDefaults.AuthenticationScheme, new ClaimsPrincipal(claimsIdentity), authProperties);
            navigationManager.NavigateTo("/", true);
        }
    }

    public sealed class LoginModel
    {
        public string Username { get; set; } = string.Empty;
        public string Password { get; set; } = string.Empty;
        public bool RememberMe { get; set; }
    }
}
