.nav-item {
    padding-left: 0;
    font: var(--fontWeightRegular) var(--fontSizeBase300) / var(--lineHeightBase300) var(--fontFamilyBase);
    padding: 8px 10px;
    display: block;
    background-color: red;
}
