@inject NavigationManager Navigation
@inject MainNavProvider NavProvider
<nav id="main-nav">
	@foreach (var item in NavProvider.NavMenuItems)
	{
		<NavLink href="@item.Href" class="nav-item">
			@item.Title
		</NavLink>
	}
</nav>
