@inject NavigationManager Navigation
@inject MainNavProvider NavProvider
<nav id="main-nav">
	@foreach (var item in NavProvider.NavMenuItems)
	{
		<a href="@item.Href" class="nav-item">
			@item.Title
		</a>
	}
</nav>
