@using BlazorERP.Components.Infrastructure
@implements IDialogContentComponent

<div>
    <FluentDesignTheme @ref=_theme
                       @bind-Mode="@Mode"
                       StorageName="theme" />

    <FluentStack Orientation="Orientation.Vertical" VerticalGap="0">
        <FluentSelect Label="Theme"
                      Width="100%"
                      Style="margin-bottom: 30px;"
                      Items="@AllModes"
                      @bind-SelectedOption="@Mode" />

    </FluentStack>
</div>

@code {

    private bool _popVisible;

    private FluentDesignTheme? _theme;


    [Inject]
    public required CacheStorageAccessor CacheStorageAccessor { get; set; }

    [Inject]
    public required GlobalState GlobalState { get; set; }

    public DesignThemeModes Mode { get; set; }


    private static IEnumerable<DesignThemeModes> AllModes => Enum.GetValues<DesignThemeModes>();

}